<h1>ここはTopページです</h1>

<div class="stick-figure">
  <div class="head"></div>
  <div class="body"></div>
  <div class="arm left"></div>
  <div class="arm right"></div>
  <div class="leg left"></div>
  <div class="leg right"></div>
</div>

